.click {
    cursor: pointer;
    &:focus {
        border-color: $white;
        color: $white;
    }
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.link-hover {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 0;
        border:transparent solid $primary;
        transition: 0.7s;
    }
}
.link-hover:hover:after {
    left: 0;
    right: 0;
    border: 1px solid $primary;
}
