$utilities: map-merge(
  $utilities,
  (
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        regular: $font-weight-regular,
        medium: $font-weight-medium,
      ),
    ),
    "font-size": (
      responsive: true,
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        4: $border-radius-xl,
      ),
    ),
    "rounded-top": (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-top,
      values: (
        1:  $border-radius-sm,
      ),
    ),
    "rounded-bottom": (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: rounded-bottom,
      values: (
        0: 0,
      ),
    ),
    "height": (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        1: 48px,
        2: 60px,
        3: 68px,
        4: 94px,
      ),
    ),
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        1: 48px,
        2: 60px,
        3: 68px,
        4: 94px,
      ),
    ),
    "z-index": (
      property: z-index,
      class: z,
      values: (
        0: 0,
        10: 10,
        20: 10,
        30: 10,
        auto: auto,
      ),
    ),
    "object-fit": (
      property: object-fit,
      class: object,
      values: (
        contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),
    "top": (
      property: top,
      values: $position-values-px
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values-px
    ),

  )
);
